@font-face {
  font-family: 'Linux Biolinum';
  src: url(../fonts/LinBiolinum_Rah.eot);
  font-display: swap;
  src: url(../fonts/LinBiolinum_Rah.eot) format('embedded-opentype'), url(../fonts/LinBiolinum_Rah.woff) format('woff2'), url(../fonts/LinBiolinum_Rah.woff) format('woff'), url(../fonts/LinBiolinum_Rah.ttf) format('truetype');
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: 'Linux Biolinum';
  src: url(../fonts/LinBiolinum_RBah.eot);
  font-display: swap;
  src: url(../fonts/LinBiolinum_RBah.eot) format('embedded-opentype'), url(../fonts/LinBiolinum_RBah.woff) format('woff2'), url(../fonts/LinBiolinum_RBah.woff) format('woff'), url(../fonts/LinBiolinum_RBah.ttf) format('truetype');
  font-weight: 700;
  font-style: normal
}

@font-face {
  font-family: 'Linux Biolinum';
  src: url(../fonts/LinBiolinum_RIah.eot);
  font-display: swap;
  src: url(../fonts/LinBiolinum_RIah.eot) format('embedded-opentype'), url(../fonts/LinBiolinum_RIah.woff2) format('woff2'), url(../fonts/LinBiolinum_RIah.woff) format('woff'), url(../fonts/LinBiolinum_RIah.ttf) format('truetype');
  font-weight: 400;
  font-style: italic
}